<%inherit file="base.html"/>
<%block name="markdown">
# ${title}


% if last_week is not None:
<a href="../${last_week}/daily.html">&lt;&lt;</a>
% endif
% if yesterday is not None:
<a href="../${yesterday}/daily.html"> &lt; ${yesterday.strftime("%a %b %d")}</a>
% endif 
${today.strftime("%a %b %d")} 
% if tomorrow is not None:
<a href="../${tomorrow}/daily.html">${tomorrow.strftime("%a %b %d")} &gt;</a>
% endif
% if next_week is not None:
<a href="../${next_week}/daily.html">&gt;&gt;</a>
% endif

% for data in by:
<%text filter="h">
#### </%text>${data['title']}<%text filter="h">
</%text>
${" | ".join(data['cols'])}
${" | ".join(make_dashes(data['cols']))}
% for row in data['data']:
${print_row(row, data['cols'])}
% endfor
% endfor

<a href="../${yesterday}/daily.html"> &lt; ${yesterday}</a> ${today} <a href="../${tomorrow}/daily.html">${tomorrow} &gt;</a>

</%block>